<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-12">
      <div style="text-align:center">
        <!-- <div class="foatback "  *ngIf="!router.urlTree.contains(router.createUrlTree(['/']))"> -->
        <div class="foatback " *ngIf="!(router.url === '/auth/login')">
          <a (click)="backClicked()" class="text-dark">
            <i class="fa fa-chevron-left fa-lg" aria-hidden="true"></i>
          </a>
        </div>
        <div class="foathome " *ngIf="!(router.url === '/auth/login')">
          <a routerLink="/" class="text-dark">
            <i class="fa fa-home fa-lg" aria-hidden="true"></i>
          </a>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>